apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
<<<<<<< HEAD
        image: public.ecr.aws/m0z9x0c0/team-ecr-repository-backend:1.0.7
        ports:
        - containerPort: 8080
=======
        image: public.ecr.aws/m0z9x0c0/team-ecr-repository-backend:latest
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:postgresql://dbinstance.czyc0o06wdkv.eu-west-2.rds.amazonaws.com:5432/rymp_database"
        - name: SPRING_DATASOURCE_USERNAME
          value: "postgres"
        - name: SPRING_DATASOURCE_PASSWORD
          value: "rymp_password"

>>>>>>> e05eaa7 (deployment.yaml amended)
