apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: markvinton/frontend:1.0.8
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 80
        env:
          - name: VITE_API_BASE_URL
            value: "ab992b2ff232344278b2084f3cb8407f-1152698979.eu-west-2.elb.amazonaws.com:8080"
